<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/land.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
        <!----<img src="{% static "imgs/bg.jpg" %}"/>----->
    </head>
    <body>
    <div>

        <div class="bg bg-blur " ></div>

        <ul>
            <li><a class="active" href="{% url 'account_app:home' %}">Homepage</a></li>
            <li><a href="{% url 'account_app:release' %}">Release micro-blog</a></li>
            <li><a href="{% url 'account_app:message' %}">Message</a></li>
            <li><a href="{% url 'account_app:personal' %}">Personal homepage</a></li>
            <li><a href="{% url 'account_app:profile' %}">Profile</a></li>
            <li><a href="{% url 'account_app:logout' %}">Log out</a></li>
        </ul>

        <div class="center">
            <!--    在这里添加html代码    -->
            {% for weibo in weibos %}
                <div class="frame">
                    <div class="name">@{{ weibo.userName }} :</div><br>
                     <div class="content">{{ weibo.content }}</div><br>
                    <div class="date">{{ weibo.weiboDate }}</div>
                </div>
            {% endfor %}
        </div>


    </div>
    </body>

</html>