<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/land.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/like.css' %}"/>
        <!----<img src="{% static "imgs/bg.jpg" %}"/>----->
    </head>
    <body>
    <div>

        <div class="bg bg-blur " ></div><div class="banner"></div>
         <!-- -->
    <div id="header">
		<div id="logo">
			<div class="touxiang">
				<img src="{% static "imgs/head.png" %}" alt="">
			</div>
			<p> userName <a href="#">个人简介</a></p>
		</div>
		<div id="search">
			<form method="get" action="">
				<fieldset>
				<input type="text" name="s" id="search-text" size="15" />
				<input type="submit" id="search-submit" value="GO" />
				</fieldset>
			</form>
		</div>
	</div>

<div id = "menu">
        <ul>
            <li><a class="active" href="{% url 'account_app:home' %}">Homepage</a></li>
            <li><a href="{% url 'account_app:release' %}">Release micro-blog</a></li>
            <li><a href="{% url 'account_app:message' %}">Message</a></li>
            <li><a href="{% url 'account_app:personal' %}">Personal homepage</a></li>
            <li><a href="{% url 'account_app:profile' %}">Profile</a></li>
            <li><a href="{% url 'account_app:logout' %}">Log out</a></li>
        </ul>
</div>
        <div class="center">
            <!--    在这里添加html代码    -->
            {% for weibo in weibos %}
                <div class="frame">
                    <div class="name">@{{ weibo.userName }} :</div><br>
                    <div class="content">{{ weibo.content }}</div><br>
                    <div class="date">{{ weibo.weiboDate }}</div>
                    <div class="name">comments:</div><br>
                    <div class="content">
                        <textarea name="comment" placeholder="Please input your comment" row="5" col="30"></textarea>
                    </div>
                    {%for comment in comments%}
                        <div class="name">{{comment.userName2}}:{{comment.comContent}}</div><br>
                        <div class="date">{{comment.comDate}}</div><br>
                    {%endfor%}
                    <!--<div class="like">&#10084;</div>-->
                    <!--<div class="name">{{ weibo.likeNum }}</div>-->
                    <form id="Form" action="" method="POST" onsubmit="return check();">
                        {% csrf_token %} <!-- 在django的表单里，加上这个是为了防止跨站攻击 -->
                        <button id="btn_like" name={{weibo.weiboId}} type="submit">Like{{weibo.likeNum}}</button>
                        <button id="btn_notlike" name={{weibo.weiboId}} type="submit">Not Like</button>
                        <button id="btn_comment" type="submit">Comment{{weibo.commentNum}}</button>
                    </form>
                </div>
            {% endfor %}
        </div>


    </div>
    </body>

</html>

<script typet="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(function () {
            $(".like").click(function () {
                $(this).toggleClass('cs');
            })
        })
    </script>

