<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/initial.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/land.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/like.css' %}"/>
        <!----<img src="{% static "imgs/bg.jpg" %}"/>----->
    </head>
    <body>
    <div>

        <div class="bg bg-blur " ></div><div class="banner"><h1>l i t t l e&nbsp;&nbsp;&nbsp;w e i b o</h1></div>
         <!-- -->
    <div id="header">
		<div id="logo">
			<div class="touxiang">
				{% for i in img %}
                    <img src="{{MEDIA_URL}}{{i.headshot}} " >
                {% endfor %}
			</div>
			<p> userName <a href="#">个人简介</a></p>
		</div>
		<div id="search">
			<form method="get" action="">
				<fieldset>
				<input type="text" name="s" id="search-text" size="15" />
				<input type="submit" id="search-submit" value="GO" />
				</fieldset>
			</form>
		</div>
	</div>

<div id = "menu">
        <ul>
            <li><a class="active" href="{% url 'account_app:home' %}">Homepage</a></li><li><a>|</a></li>
            <li><a href="{% url 'account_app:release' %}">Release micro-blog</a></li><li><a>|</a></li>
            <li><a href="{% url 'account_app:message' %}">Message</a></li><li><a>|</a></li>
            <li><a href="{% url 'account_app:personal' %}">Personal homepage</a></li><li><a>|</a></li>
            <li><a href="{% url 'account_app:profile' %}">Profile</a></li><li><a>|</a></li>
            <li><a href="{% url 'account_app:logout' %}">Log out</a></li>

        </ul>
</div>
        <div class="center">
            <!--    在这里添加html代码    -->
            {% for weibo in weibos %}
                    <form id="Form" action="" method="POST" onsubmit="return check();">
                        <div class="frame">
                        <input class="name" name="weiboId" value="{{ weibo.weiboId }}">
                        <div class="name">@{{ weibo.userName }} :</div><br>
                        <div class="content">{{ weibo.content }}</div><br>
                        <div class="date">{{ weibo.weiboDate }}</div>
                        <div class="name">comments:</div><br>

                        {% csrf_token %} <!-- 在django的表单里，加上这个是为了防止跨站攻击 -->
                        <div class="content">
                            <input type="text" name="comments" placeholder="Please input your comment">
                        </div>
                        <button id="btn_like" type="submit" name="like">Like{{weibo.likeNum}}</button>
                        <button id="btn_comment" type="submit" name="comment">Comment{{weibo.commentNum}}</button>
                        <button id="btn_view" type="submit" name="view" href="{% url 'account_app:comments' %}">View Comment</button>
                        </div>
                    </form>
            {% endfor %}

        </div>

        </div>


    </div>
    </body>

</html>


