
<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/land.css' %}"/>
        <!----<img src="{% static "imgs/bg.jpg" %}"/>----->
    </head>
    <body>
    	<div class="picture" >

				<div class="name">
						Little Weibo
				</div>

				<div class="clickButton">
							<a href="{% url 'account_app:login' %}">Let's start!</a>
				</div>

		</div>
    </body>

</html>
