{% extends "account_app/base.html" %}

{% block title %}
	Login
{% endblock %}

{% block body %}
    <div class="bg bg-blur " ></div>

    <div id="login_frame">
        <h1 id="head">Login</h1>
	    <!---<a href="{% url 'account_app:home' %}">to home</a>--->
	    <form id="Form" action="" method="POST" onsubmit="return check();">
		{% csrf_token %} <!-- 在django的表单里，加上这个是为了防止跨站攻击 -->

            <div style="color: red">{{error }}<br/>
            </div>
            <p><label class="label_input">Username</label><input type="text" name="username" placeholder="please input email or username" class="text_field"></p>

            <p><label class="label_input">Password</label><input type="password" name="password" placeholder="please input password" class="text_field"></p>

            <div id="login_control">
            <button id="btn_login" type="submit">Log in</button>
             <a id="forget_pwd" href="{% url 'account_app:register' %}">Don't have an account? Click here to register</a>
            </div>

	    </form>


    </div>


{% endblock %}