<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Message</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/initial.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/land.css' %}"/>
        <!----<img src="{% static "imgs/bg.jpg" %}"/>----->
    </head>
    <body>
               <div class="bg bg-blur " ></div><div class="banner"><h1>l i t t l e&nbsp;&nbsp;&nbsp;w e i b o</h1></div>
         <!-- -->


<div id = "menu">
        <ul>
            <li><a class="active" href="{% url 'account_app:home' %}">Homepage</a></li><li><a>|</a></li>
            <li><a href="{% url 'account_app:release' %}">Release micro-blog</a></li><li><a>|</a></li>
            <li><a href="{% url 'account_app:message' %}">Message</a></li><li><a>|</a></li>
            <li><a href="{% url 'account_app:personal' %}">Personal homepage</a></li><li><a>|</a></li>
            <li><a href="{% url 'account_app:profile' %}">Profile</a></li><li><a>|</a></li>
            <li><a href="{% url 'account_app:logout' %}">Log out</a></li>
        </ul>
</div>


         <div class="center">
            <!--    在这里添加html代码    -->
        </div>


    </body>

</html>