<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Message</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/land.css' %}"/>
        <!----<img src="{% static "imgs/bg.jpg" %}"/>----->
    </head>
    <body>
               <div class="bg bg-blur " ></div><div class="banner"></div>
         <!-- -->
    <div id="header">
		<div id="logo">
			<div class="touxiang">
				<img src="{% static "imgs/head.png" %}" alt="">
			</div>
			<p> userName <a href="#">个人简介</a></p>
		</div>
		<div id="search">
			<form method="get" action="">
				<fieldset>
				<input type="text" name="s" id="search-text" size="15" />
				<input type="submit" id="search-submit" value="GO" />
				</fieldset>
			</form>
		</div>
	</div>

<div id = "menu">
        <ul>
            <li><a class="active" href="{% url 'account_app:home' %}">Homepage</a></li>
            <li><a href="{% url 'account_app:release' %}">Release micro-blog</a></li>
            <li><a href="{% url 'account_app:message' %}">Message</a></li>
            <li><a href="{% url 'account_app:personal' %}">Personal homepage</a></li>
            <li><a href="{% url 'account_app:profile' %}">Profile</a></li>
            <li><a href="{% url 'account_app:logout' %}">Log out</a></li>
        </ul>
</div>


         <div class="center">
            <!--    在这里添加html代码    -->
        </div>


    </body>

</html>