<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Personal homepage</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/personal.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/land.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/initial.css' %}"/>

        <!----<img src="{% static "imgs/bg.jpg" %}"/>----->
    </head>
    <body>
            <div class="bg bg-blur " ></div><div class="banner"><h1>l i t t l e&nbsp;&nbsp;&nbsp;w e i b o</h1></div>
         <!-- -->
    <div id="header">
		<div id="logo">
			<div class="touxiang">
				{% for i in user %}
                    <img src="{{MEDIA_URL}}{{i.headshot}} " >
                {% endfor %}
			</div>
			<p> userName <a href="#">个人简介</a></p>
		</div>

	</div>

<div id = "menu">
        <ul>
            <li><a class="active" href="{% url 'account_app:home' %}">Homepage</a></li><li><a>|</a></li>
            <li><a href="{% url 'account_app:release' %}">Release micro-blog</a></li><li><a>|</a></li>
            <li><a href="{% url 'account_app:RecentNews' %}">Recent News</a></li><li><a>|</a></li>
            <li><a href="{% url 'account_app:personal' %}">Personal homepage</a></li><li><a>|</a></li>
            <li><a href="{% url 'account_app:profile' %}">Profile</a></li><li><a>|</a></li>
            <li><a href="{% url 'account_app:logout' %}">Log out</a></li>
        </ul>
</div>


            <div id="sidebar">
			<ul>
				<li>
                    <h2>My Weibos&nbsp;&nbsp;({{ weibonum }})</h2>
					<ul>
						<li><a href="#">weibo1</a></li>
						<li><a href="#">weibo1</a></li>
						<li><a href="#">weibo1</a></li>
					</ul>
				</li>
				<li>
					<h2>My Fans&nbsp;&nbsp;({{ fansnum }})</h2>
					<ul>
						<li><a href="#">fans</a></li>
						<li><a href="#">fans</a></li>
						<li><a href="#">fans</a></li>
					</ul>
				</li>
				<li>
					<h2>My concerns&nbsp;&nbsp;({{ concernsnum }})</h2>
					<ul>
						<li><a href="#">concern</a></li>
						<li><a href="#">concern</a></li>
						<li><a href="#">concern</a></li>
					</ul>
				</li>
                <li>
					<h2>Settings</h2>
					<ul>
						<li><a href="{% url 'account_app:changeHeadshot' %}">headshot</a></li>
						<li><a href="#">signature</a></li>
                        <li><a href="{% url 'account_app:profile' %}">email or password</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->

 		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">My Weibos</a></h2>
				<p class="meta">Posted by <a href="#">Username</a> on March 10, 2008
					&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (how many)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
				<div class="entry">
					<p>content</p>
					<p>cortent2</p>
				</div>
			</div>

		<div style="clear: both;">&nbsp;</div>
		</div>

    </body>

</html>