<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Personal homepage</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/personal.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/land.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/initial.css' %}"/>

        <!----<img src="{% static "imgs/bg.jpg" %}"/>----->
    </head>
    <body>
            <div class="bg bg-blur " ></div><div class="banner"></div>
         <!-- -->
    <div id="header">
		<div id="logo">
			<div class="touxiang">
				<img src="{% static "imgs/head.png" %}" alt="">
			</div>
			<p> userName <a href="#">个人简介</a></p>
		</div>
		<div id="search">
			<form method="get" action="">
				<fieldset>
				<input type="text" name="s" id="search-text" size="15" />
				<input type="submit" id="search-submit" value="GO" />
				</fieldset>
			</form>
		</div>
	</div>

<div id = "menu">
        <ul>
            <li><a class="active" href="{% url 'account_app:home' %}">Homepage</a></li><li><a>|</a></li>
            <li><a href="{% url 'account_app:release' %}">Release micro-blog</a></li><li><a>|</a></li>
            <li><a href="{% url 'account_app:message' %}">Message</a></li><li><a>|</a></li>
            <li><a href="{% url 'account_app:personal' %}">Personal homepage</a></li><li><a>|</a></li>
            <li><a href="{% url 'account_app:profile' %}">Profile</a></li><li><a>|</a></li>
            <li><a href="{% url 'account_app:logout' %}">Log out</a></li>
        </ul>
</div>


            <div id="sidebar">
			<ul>
				<li>
                    <h2>My Micro-blogs</h2>
					<ul>
						<li><a href="#">weibo1</a></li>
						<li><a href="#">weibo1</a></li>
						<li><a href="#">weibo1</a></li>
					</ul>
				</li>
				<li>
					<h2>My Fans</h2>
					<ul>
						<li><a href="#">fans</a></li>
						<li><a href="#">fans</a></li>
						<li><a href="#">fans</a></li>
					</ul>
				</li>
				<li>
					<h2>My concerns</h2>
					<ul>
						<li><a href="#">concern</a></li>
						<li><a href="#">concern</a></li>
						<li><a href="#">concern</a></li>
					</ul>
				</li>
                <li>
					<h2>Settings</h2>
					<ul>
						<li><a href="#">headshot</a></li>
						<li><a href="#">signature</a></li>
						<li><a href="#">email or password</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->

 		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">My Weibos</a></h2>
				<p class="meta">Posted by <a href="#">Username</a> on March 10, 2008
					&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (how many)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
				<div class="entry">
					<p>content</p>
					<p>cortent2</p>
				</div>
			</div>

		<div style="clear: both;">&nbsp;</div>
		</div>

    </body>

</html>