<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Release micro-blog</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/land.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/release.css' %}"/>
        <!----<img src="{% static "imgs/bg.jpg" %}"/>----->
    </head>
    <body>

                <div class="bg bg-blur " ></div><div class="banner"></div>
         <!-- -->
    <div id="header">
		<div id="logo">
			<div class="touxiang">
				<img src="{% static "imgs/head.png" %}" alt="">
			</div>
			<p> userName <a href="#">个人简介</a></p>
		</div>
		<div id="search">
			<form method="get" action="">
				<fieldset>
				<input type="text" name="s" id="search-text" size="15" />
				<input type="submit" id="search-submit" value="GO" />
				</fieldset>
			</form>
		</div>
	</div>

<div id = "menu">
        <ul>
            <li><a class="active" href="{% url 'account_app:home' %}">Homepage</a></li>
            <li><a href="{% url 'account_app:release' %}">Release micro-blog</a></li>
            <li><a href="{% url 'account_app:message' %}">Message</a></li>
            <li><a href="{% url 'account_app:personal' %}">Personal homepage</a></li>
            <li><a href="{% url 'account_app:profile' %}">Profile</a></li>
            <li><a href="{% url 'account_app:logout' %}">Log out</a></li>
        </ul>
</div>

<div class="center">
        <!--    在这里添加html代码    -->
        <form class = "flex-item" enctype="multipart/form-data" method="POST" onsubmit="return check();">
            {% csrf_token %}
            <h2>Releasing Micro-blog</h2>
            <input type="file" accept="image/png,image/jpg,image/gif,image/bmp" name="img">
             <div id = "tip_1" class="tip_1"></div>
            <div class = "error">{% if form.content.errors %}{{ form.content.errors }}<br/>{% endif %}</div>
            <p>Enter your content:<br/></p>
            <textarea id = "content" name="content"></textarea><br/>
            If you want to @ someone,use;to split:<br/></p>
            <input id = "at" name="at" /><br/>
            <button class = "but" type="submit" value="Send">Send</button>
        </form>
</div>

    <script>
        function check(){
            return checkContent()&&checkAt();
        }
        function checkAt(){
            return true;
        }
        function checkContent(){
            content = document.getElementById("content");
            var reg =/^.{1,300}$/;
            if(!reg.test(content.value)){
                alert("failed");
                if(content.value == ""){
                    document.getElementById('tip_1').innerHTML = "Please input content!";
                }else{
                    document.getElementById('tip_1').innerHTML = "Content too long!";
                }
                return false;
            }else{
                return true;
            }
        }
    </script>
    </body>
</html>