.banner{
	background-image: url('../imgs/img01.jpg');
	background-repeat: repeat-x;
	#background-color: rgba(240, 255, 255, 0.5);
	height:20vh;
	width: 100%;
	position: fixed;

}


.bg {
	#background-image: url('../imgs/bg.jpeg');
	background-color: 	#FAFAD2;
	height:100vh;
	text-align: center;
	line-height: 100vh;
}

.bg-blur {
	float: left;
	width: 100%;
	height:100vh;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
	position: fixed;
}

.content {
	color: #ffffff;
	font-size: 40px;
}

 .content-front {
	 position:absolute;
	 left: 10px;
	 right: 10px;
	 height:100vh;
	 line-height: 100vh;
	 text-align: center;
 }



.center{
    position: absolute;
	top:30%;left:36%;
	text-align: center;
}


#forget_pwd {
    font-size: 40px;
    color: white;
    text-decoration: none;
    top: 6px;

}

#forget_pwd:hover {
    color: blue;
    text-decoration: underline;
}

/*div.classname a{样式设置}

补充其他：
div.classname a:link{样式设置}
div.classname a:visited{样式设置}
div.classname a:hover{样式设置}
div.classname a:active{样式设置} */



.clickButton a{

    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
	/* color:#001;*/
	/*background-color:none;  */
	float:left;
	width:130px;
	height:30px;
	font-size:26px; /*字体大小 */
	color:black; /*字体颜色 */
	text-decoration:underline; /*字体下划线等；underline下划线，overline 上划线，line-through线在中间 */
	cursor:pointer; /*鼠标在字上时显示小手 */
}

.name{
	float:left;
	margin-left:30px;
	margin-top:20px;
	font-size:100px;
	/*background-color:none;*/

}





