/***body {
    background-color: #B0EAFE;
    background-size: 100%;
    background-image: url("../imgs/bear.jpeg");
    background-repeat: no-repeat;
    #background-attachment:fixed;
}
**/

.bg {
    background-color: #FAFAD2;
	#background: url('../imgs/bg.jpeg');
	height:100vh;
	text-align: center;
	line-height: 100vh;
}

.bg-blur {
	float: left;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-filter: blur(15px);
	-moz-filter: blur(15px);
	-o-filter: blur(15px);
	-ms-filter: blur(15px);
	filter: blur(15px);
}
.content {
	color: black;
	font-size: 40px;
}

 .content-front {
	 position:absolute;
	 left: 10px;
	 right: 10px;
	 height:100vh;
	 line-height: 100vh;
	 text-align: center;
 }

  .name-front{
      position:absolute;
      left: 10px;
	 right: 10px;
	 height:10vh;
	 line-height: 10vh;
	 text-align: center;
  }

#logout {
    text-decoration: none;
     position:absolute;
	 left: 10px;
	 right: 10px;
	 height:25vh;
	 line-height: 25vh;
	 text-align: center;
}
#logout a{
    font-size: 16px;
    color: black;
    text-decoration: none;
    top: 6px;
}
#logout a:hover {
    color: blue;
    text-decoration: underline;
}


#login_frame {
    width: 400px;
    height: 300px;
    position: absolute;
    /*left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;*/
    left:50%;
    top:50%;
    margin-left:-200px;
    margin-top:-150px;
    #background-color: rgba(240, 255, 255, 0.5);
    background-color:  rgba(214,230,204,0.5);

    border-radius: 10px;
    text-align: center;
}
#reg_frame {
    width: 400px;
    height: 370px;
    position: absolute;
    /*left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;*/
    left:50%;
    top:50%;
    margin-left:-200px;
    margin-top:-150px;
    #background-color: rgba(240, 255, 255, 0.5);
    background-color:  rgba(214,230,204,0.5);
    border-radius: 10px;
    text-align: center;
}

#changepsw_frame {
    width: 400px;
    height: 300px;
    position: absolute;

    left:50%;
    top:40%;
    margin-left:-200px;
    margin-top:150px;

    #background-color: rgba(240, 255, 255, 0.5);
    background-color:  rgba(214,230,204,0.5);
    border-radius: 10px;
    text-align: center;
}
#changeemail_frame {
    /*width: 60%;
    height: 50%;*/
    width: 400px;
    height: 230px;
    position: absolute;

    left:50%;
    top:40%;
    margin-left:-200px;
    margin-top:-150px;

    #background-color: rgba(240, 255, 255, 0.4);
    background-color:  rgba(214,230,204,0.5);
    border-radius: 10px;
    text-align: center;
}

form p > * {
    display: inline-block;
    vertical-align: middle;
}

#head {
    left:50%;
    top:50%;
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
}

.label_input {
    font-size: 14px;

    width: 65px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    color: black;
    background-color: #D6E6CC;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.text_field {
    width: 278px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}

#btn_login {
    font-size: 14px;

    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    color: black;
    background-color: #D6E6CC;
    border-radius: 6px;
    border: 0;
    cursor:pointer;

    float: left;
}


#btn_register {
    font-size: 14px;

    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    color: black;
    background-color: #D6E6CC;
    border-radius: 6px;
    border: 0;
    cursor:pointer;

    float: bottom;

}


#btn_registera {
    font-size: 14px;

    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    color: black;
    background-color: #D6E6CC;
    border-radius: 6px;
    border: 0;
    cursor:pointer;

    float: bottom;

}

#forget_pwd {
    font-size: 12px;
    color: grey;
    text-decoration: none;
    position: relative;
    float: right;
    top: 6px;

}

#forget_pwd:hover {
    color: blue;
    text-decoration: underline;
}

#login_control {
    padding: 0 28px;
}
