/* Sidebar */

#sidebar {
	float: left;
	width: 240px;
	color: #787878;
    position:absolute;
    top:200px;
    left: 450px;

}

#sidebar ul {
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin-bottom: 30px;
	padding: 0px 20px 20px 20px;
	background: #F4FAF0;
	border-left: 1px solid #D6E6CC;
	border-right: 1px solid #D6E6CC;
	border-bottom: 1px solid #D6E6CC;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dashed #D1D1D1;
	padding-left: 3px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	padding: 12px 0 0 20px;
    font-size: large;
    font-weight: bold;
	background: #D6E6CC;
	border: 1px solid #D6E6CC;
	letter-spacing: -.5px;
	color: #48390E;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Content */

#content {
	width: 670px;
	padding: 0;
    position:absolute;
    top:200px;
    left:750px;
}

.post {
	margin-bottom: 25px;
	padding: 0px;
	background: #FFFFFF;
	border: 1px solid #D6E6CC;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	height: 38px;
	margin-bottom: 10px;
	padding: 12px 0 0 20px;
	background: #D6E6CC;
	border: 1px solid #D6E6CC;
	letter-spacing: -.5px;
	color: #FFFFFF;
}

.post .title a {
	color: #48390E;
	border: none;
    font-weight: bold;
}

.post .meta {
	padding-bottom: 5px;
	padding-left: 20px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.post .entry {
	padding: 0px 20px 20px 20px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	display: block;
	width: 100px;
	height: 20px;
	margin-top: 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	font-weight:  bold;
}